/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: currentColor;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Hide scrollbar */
*::-webkit-scrollbar {
  display: none;
}
html {
  position: relative;
  height: 101vh;
  background-color: #000;
  min-height: -webkit-fill-available;
}

#root {
  position: absolute;
  inset: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

/* RESPONSIVE 1250px */
@media (min-width: 1250px) {
  #root {
    position: fixed;
  }
}
